<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Company Name</h5>
                <p>1234 Street Name, City, State, 12345</p>
                <p>Email: infoexample.com</p>
                <p>Phone: +123 456 7890</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/" class="text-white">Home</a></li>
                    <li><a routerLink="/about" class="text-white">About Us</a></li>
                    <li><a routerLink="/services" class="text-white">Services</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="text-center pt-3">
            <p>&copy; 2023 Company Name. All rights reserved.</p>
        </div>
    </div>
</footer>
