<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container-sm">
        <div class="text pt-3">
            <h4>Our key services</h4>
            <small>Take a look at our key services</small>
        </div>
        <div class="row">
            <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8739.png">
                    </div>
                  <h5 class="card-title">Cardiology</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
              <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8740.png">
                    </div>
                  <h5 class="card-title">Othropeadic</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
              <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8741.png">
                    </div>
                  <h5 class="card-title">Neurologist</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
              <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8742.png">
                    </div>
                  <h5 class="card-title">Pharma Pipeline</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
              <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8743.png">
                    </div>
                  <h5 class="card-title">Pharma Team</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
              <div class="card col-3 text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        <img src="assets/Group 8744.png">
                    </div>
                  <h5 class="card-title">High Quality Treatment</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat assumenda voluptates asperiores exercitationem</p>
                </div>
              </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>