<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container-fluid">
        <div class="content container-sm pt-5 ms-5 ps-5">
            <div class="text">
            <h3 style="color: #00A8DF;" class="p-2">BEST CLINIC AROUND</h3>
            <p style="color: #00A8DF;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deserunt,<br> explicabo vero incidunt atque illo? Debitis ratione, expedita temporibus,<br>maiores accusantium deserunt ullam qui quis obcaecati minus vero quisquam dignissimos!</p>
            </div>
            <button class="btn btn-primary">BOOK AN APPOINTMENT</button>
        </div>
        <div class="row">
            <div class="card col-3" style="background-color: #16599F;width: 18rem;">
                <div class="icon-container">
                    <img class="icon" src="assets/Group 8739.png" alt="icon">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-3" style="background-color: #00A8DF;width:18rem ;">
                <div class="icon-container">
                    <img class="icon" src="assets/Group 8739.png" alt="icon">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-3" style="background-color: #16599F;width: 18rem;">
                <div class="icon-container">
                    <img class="icon" src="assets/Group 8739.png" alt="icon">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-3" style="background-color: #00A8DF;width: 18rem;">
                <div class="icon-container">
                    <img class="icon" src="assets/Group 8739.png" alt="icon">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
